<div class="homeInfo">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				 <h5 class="headerTxt">{{ title }}</h5>
   				 <p class="homeContent">{{ contactContent }}</p>
			</div>
			<div class="col-xs-6">
				<img ng-src="{{ handSide }}" class="img-responsive rightSideBar" align="absmiddle" />
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<p class="sucessTxt"><strong>Successful</strong> Stories</p>
			<p class="descTxt">{{ aboutTagLine }}</p>
		</div>
	</div>
	<div class="row aboutSucess">
		<div class="col-xs-3">
			<img ng-src="{{ constImg }}" class="img-responsive" align="absmiddle" />
			<h4>{{ constHeading }}</h4>
			<h5>{{ constTagline }}</h5>
			<h6>{{ constDesc }}</h6>	
			<div class="readBtn">{{ btnTxt }}</div>
		
		</div>
		<div class="col-xs-3">
			<img ng-src="{{ educatImg }}" class="img-responsive" align="absmiddle" />
			<h4>{{ educatHeading }}</h4>
			<h5>{{ educatTagline }}</h5>
			<h6>{{ educatDesc }}</h6>	
			<div class="readBtn">{{ btnTxt }}</div>
		</div>
		<div class="col-xs-3">
			<img ng-src="{{ helpingImg }}" class="img-responsive" align="absmiddle" />
			<h4>{{ helpingHeading }}</h4>
			<h5>{{ helpingTagline }}</h5>
			<h6>{{ helpingDesc }}</h6>	
			<div class="readBtn">{{ btnTxt }}</div>
		</div>
		<div class="col-xs-3">
			<img ng-src="{{ moneyImg }}" class="img-responsive" align="absmiddle" />
			<h4>{{ moneyHeading }}</h4>
			<h5>{{ moneyTagline }}</h5>
			<h6>{{ moneyDesc }}</h6>	
			<div class="readBtn">{{ btnTxt }}</div>
		</div>
	</div>
</div>
<!--<img src="{{ imgPath }}" class="img-responsive constImage">-->