<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="footerBottom">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-md-8 alignCenter">
							<div class="footerCopyRight">
								Copyright © 
								<a>jaijhondimata.</a>
								 All Rights Reserved
							</div>
						</div>
						<div class="col-sm-4 col-md-4">
							<div  class="footerPayment alignCenter">
								<a>
									<img src="images/footer_Payment.png" class="img-responsive" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	</footer>