
<div class="homeInfo">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				 <h5 class="headerTxt">{{ title }}</h5>
   				 <p class="homeContent">{{ innerTxt }}</p>
			</div>
			<div class="col-xs-6">
				<img ng-src="{{ kidsSide }}" class="img-responsive rightSideBar" align="absmiddle" />
			
			</div>
		</div>
	</div>
</div>
<div class="container">
   <div class="row solutionMain">
      <div class="col-md-3 col-sm-3  col-xs-12 solutionOuter">
         <a href="{{ btnHref }}" target="_blank">
            <img ng-src="{{ invoiceImg }}" class="img-responsive contentImg" align="absmiddle" />
            <h4>{{ invoiceTitle }}</h4>
            <h6>{{ invoiceContent }}</h6>
            <div class="readBtn">{{ btnTxt }}</div>
         </a>
      </div>
      <div class="col-md-3 col-sm-3  col-xs-12 solutionOuter">
         <a href="{{ btnHref }}" target="_blank">
            <img ng-src="{{ leaveImg }}" class="img-responsive contentImg" align="absmiddle" />
            <h4>{{ leaveTitle }}</h4>
            <h6>{{ leaveContent }}</h6>
            <div class="readBtn"><span>{{ btnTxt }}</span></div>
         </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 solutionOuter">
         <a href="{{ btnHref }}" target="_blank">
            <img ng-src="{{ loanImg }}" class="img-responsive contentImg" align="absmiddle" />
            <h4>{{ loanTitle }}</h4>
            <h6>{{ loanContent }}</h6>
            <div class="readBtn">{{ btnTxt }}</div>
         </a>
      </div>
	   <div class="col-md-3 col-sm-3 col-xs-12 solutionOuter">
         <a href="{{ btnHref }}" target="_blank">
            <img ng-src="{{ vaishnoImg }}" class="img-responsive contentImg" align="absmiddle" />
            <h4>{{ vaishnoTitle }}</h4>
            <h6>{{ vaishnoContent }}</h6>
            <div class="readBtn">{{ btnTxt }}</div>
         </a>
      </div>
   </div>
</div>