<div class="navHeader">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<div class="headerTop">
					<div class="addressIcon">
					   <span class="glyphicon glyphicon-earphone"></span>
					</div>
					<div class="addressText">
					   <span>+918975766814</span>
					</div>
					<div class="addressIcon">
					   <span class="glyphicon glyphicon-envelope"></span>
					</div>
					<div class="addressText">
					   <span>info@jaijhondimata.com</span>
					</div>
				 </div>
			</div>
			<div class="col-xs-6 footerButtons">
					<ul class="footerIcons">
						<li>
							<button ng-click="navigateFacebook()">
								<i class="fa fa-facebook"></i>
							</button>
						</li>
						<li>
							<button ng-click="navigateGoogle()">
								<i class="fa fa-google-plus"></i>
							</button>
						</li>
						<li>
							<button ng-click="navigateTwitter()">
								<i class="fa fa-twitter"></i>
							</button>
						</li>
						<li>
							<button ng-click="navigateYoutube()">
								<i class="fa fa-youtube-play"></i>
							</button>
						</li>
						<li>
							<button ng-click="navigateGmail()">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</button>
						</li>
						<li>
							<button ng-click="navigateLinkedin()">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</button>
						</li>
					</ul>
			</div>
		</div>
	</div>
</div>

<div class="navMain">
	 <nav class="navbar navbar-default">
   <div class="container">
	   <div class="row">
	   		<div class="col-xs-2">
		   		<a href="http://www.divyanshianand.co.in/" target="_blank">
					 <img class="logo" ng-src="{{ logoImage }}" class="img-responsive logoSyne" />
				</a>
		   </div>
	   		<div class="col-xs-10">
		     <div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				 <span class="sr-only">Toggle navigation</span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 </button>
			  </div>
			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						  <ul class="nav navbar-nav navbar-right">
					<li ng-repeat="navButton in navButtons" ng-class="{ active: btnActive == navButton }" ng-click="updateActive(navButton)">
					   <a href="#/{{ navButton }}">{{ navButton | uppercase }}</a>
					</li>
				 </ul>
			  </div>
		   </div>
	   </div>
   </div>
</nav>


<div class="container-fluid">
  <div id="slides_control">
    <div>
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}">
          <div class="carousel-caption">
            <h4>{{slide.FigCaption}}</h4>
          </div>
        </slide>
      </carousel>
    </div>
  </div> 
</div>
	</div>